In [ ]:
# !pip install openpyxl

In [7]:
import pandas as pd

In [9]:
#Load the data from provided files: ‘Patient Info.xlsx’ and ‘Partner_Partner_Mapping.xlsx’.
patient_info = pd.read_excel('Patient_info.xlsx')
partner_partner_mapping = pd.read_excel('Partner_Partner_Mapping.xlsx')

In [21]:
#Join both data frames based on Patient_ID. 
join_data = pd.merge(patient_info, partner_partner_mapping, on='Patient_ID')
join_data

,Patient_ID,Patient_Name,Patient_Gender,Patient_Phone,Province,Created_at,Patient_Partner_ID,Partner_ID
0,1,Ali,M,12507384957,Ontario,2022-07-04,1,4
1,2,Salima,F,12506482904,British Columbia,2022-07-06,2,3
2,3,Ahmed,M,12507483947,Ontario,2022-07-06,3,2
3,4,Sania,F,12502748001,Ontario,2022-07-07,4,1
4,5,Sana,F,12505832224,Ontario,2022-07-08,5,6
5,6,Imran,M,12505099922,British Columbia,2022-07-12,6,5
6,7,Rizwan,M,12505992244,Ontarioo,2022-08-12,7,8
7,8,Sara,F,12505992343,Ontario,2022-08-12,8,7

In [22]:
#Get patient information of those patients who do not have a partner.
data = pd.merge(patient_info, partner_partner_mapping, on='Patient_ID', how='left')
no_partner_patients = data[data["Partner_ID"].isna()]
no_partner_patients

,Patient_ID,Patient_Name,Patient_Gender,Patient_Phone,Province,Created_at,Patient_Partner_ID,Partner_ID
8,9,Alisha,F,12505998573,British Columbia,2022-08-13,NaN,NaN
9,10,Yasmeen,F,12505998239,British Columbia,2022-08-14,NaN,NaN

In [23]:
# Get patient information of only primary patients.
primary_patient_info = data[["Patient_ID", "Patient_Name", "Patient_Gender", "Patient_Phone", "Province", "Created_at"]]
primary_patient_info

,Patient_ID,Patient_Name,Patient_Gender,Patient_Phone,Province,Created_at
0,1,Ali,M,12507384957,Ontario,2022-07-04
1,2,Salima,F,12506482904,British Columbia,2022-07-06
2,3,Ahmed,M,12507483947,Ontario,2022-07-06
3,4,Sania,F,12502748001,Ontario,2022-07-07
4,5,Sana,F,12505832224,Ontario,2022-07-08
5,6,Imran,M,12505099922,British Columbia,2022-07-12
6,7,Rizwan,M,12505992244,Ontarioo,2022-08-12
7,8,Sara,F,12505992343,Ontario,2022-08-12
8,9,Alisha,F,12505998573,British Columbia,2022-08-13
9,10,Yasmeen,F,12505998239,British Columbia,2022-08-14

In [31]:
#Create a dataframe/dictionary (whichever you prefer) to show how many patients are from each unique province
unique_province_patient_count = pd.DataFrame(data.groupby(["Province"]).Patient_ID.count()).reset_index()
unique_province_patient_count = unique_province_patient_count.rename(columns={'Patient_ID': 'Patient_count'})
unique_province_patient_count

           Province  Patient_count
0  British Columbia              4
1           Ontario              5
2          Ontarioo              1

In [33]:
#Create a table with the number of referrals each month.
referral_per_month = pd.DataFrame(patient_info[["Created_at"]].groupby(pd.Grouper(key='Created_at', freq='1M')).size().reset_index(name='referral_per_month'))
referral_per_month

  Created_at  referral_per_month
0 2022-07-31                   6
1 2022-08-31                   4